@import "../breakpoints/breakpoints.scss";

:root {
  font-family: "Kumbh Sans", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // PRIMARY COLORS
  --orange: hsl(26, 100%, 55%);
  --pale_orange: hsl(25, 100%, 94%);

  --very_dark_blue: hsl(220, 13%, 13%);
  --dark_grayish_blue: hsl(219, 9%, 45%);
  --grayish_blue: hsl(220, 14%, 75%);
  --light_grayish_blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background):

  // FONT--SIZES
  --fontSize_standard: 16px;
  --fontSize_nav: var(--font_standard);
  --fontSize_button: var(--font_standard);
  --fontSize_price: 22px;

  // FONTS--PRODUCT
  --fontSize_company: 17px;
  --fontColor_company: var(--orange);
  --fontWeight_company: 700;

  --fontSize_product-title: 40px;
  --fontWeight_product-title: 700;

  --fontSize_description: 16px;
  --fontColor_description: var(--dark_grayish_blue);

  --fontSize_price: 25px;
  --fontWeight_price: var(--fontWeight_700);
  --fontSize_discount: 15px;
  --fontWeight_discount: var(--fontWeight_700);

  --fontSize_formerPrice: 13px;
  --fontWeight_formerPrice: var(--fontWeight_700);

  --fontSize_counter: 13px;
  --fontWeight_counter: var(--fontWeight_700);

  --fontSize_cartButton: 13px;
  --fontWeight_counter: var(--fontWeight_700);

  // FONT--WEIGHT
  --fontWeight_sideMenu: 700;
  --fontWeight_400: 400;
  --fontWeight_700: 700;
}

body {
  min-width: 375px;
  height: 100%;
  background-color: green;
}

li {
  list-style: none;
}
