@import "../../styles/breakpoints/breakpoints.scss";

.main {
  // height: 100%;
  position: relative;

  @include mobile {
    width: 375px;
    min-height: 667px;
    background-color: yellow;
  }

  @include wide {
    width: 75%;
    min-height: 100%;
    background-color: violet;
  }
}
