@import "../../styles/breakpoints/breakpoints.scss";

.header {
  display: grid;
  place-items: center;
  border-bottom: 1.5px solid rgba(83, 83, 83, 0.2);

  @include mobile {
    height: 70px;
    background-color: burlywood;
  }

  @include wide {
    height: 140px;
    background-color: burlywood;
  }
}
