@import "../../styles/breakpoints/breakpoints.scss";

.header {
  display: grid;
  place-items: center;

  @include mobile {
    height: 70px;
    border-bottom: none;
  }

  @include wide {
    height: 110px;
    border-bottom: 3px solid rgba(83, 83, 83, 0.1);
  }
}
