@import "../../styles/breakpoints/breakpoints.scss";

.burgerMenu {
  @include mobile {
    display: flex;
    height: 15px;

    // margin-right: 15px;
  }
  @include wide {
    display: none;
  }
}
