@import "../../styles/breakpoints/breakpoints.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.index {
  width: 100%;

  @include mobile {
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: pink;
  }
  @include wide {
    height: 100%;

    display: flex;
    justify-content: center;

    background-color: white;
  }
}
