@import "../../styles/breakpoints/breakpoints.scss";

.logo {
  width: 130px;

  @include mobile {
    width: 130px;
    grid-column: 5 / 7;
  }
  @include wide {
    width: 140px;
    grid-column: 1 / 5;
  }
}

.cart {
  @include mobile {
    grid-column: 13;
  }
  @include wide {
    width: 25px;
    grid-column: 23;
  }
}

.avatar {
  @include mobile {
    width: 25px;
    grid-column: 15;
  }
  @include wide {
    width: 50px;
    grid-column: 25;
  }
}

.photo_caroussel {
  @include mobile {
    position: relative;
    width: 100%;
    display: flex;
    border: 3px solid red;
    z-index: 10;

    &::before {
      position: absolute;
      z-index: 99;
      content: "hello";
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      left: 110px;
    }
  }
}

.prod_thumbnails {
  @include wide {
    flex-shrink: 1;
    flex-grow: 1;

    border-radius: 12%;
  }
}
